{% load staticfiles %}
<!doctype html>
<html ng-app="overviewApp">
  <head>
    <link rel="stylesheet" href="{% static "referral/css/referral.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
 
    <script src="{% static "referral/js/overviewApp.js" %}"></script>
    <script>
        var initialReferrals = {{ referraljson|safe }}; //JSON.parse("{{ referraljson }}");
    </script>

  </head>
  <body>
    <h2>Grow The Web With Referrals!</h2>
    <div ng-app="overviewApp" ng-controller="ReferralListController as referralList">
      <form ng-submit="referralList.addReferral()">
        <input type="text" ng-model="referralList.referralText" size="30" placeholder="referral title">
        <input class="btn-primary" type="submit" value="add">
      </form>
  
      <ul class="unstyled">
        <li ng-repeat="referral in referralList.referrals">
          <a href="/{[{referral.name}]}/">{[{referral.name}]}</a>, {[{referral.count}]}, 
          <button ng-click="referralList.editReferral(referral)">edit</button>
          <button ng-click="referralList.removeReferral(referral)">del</button>
        </li>
      </ul>

      <button ng-click="referralList.refresh()">refresh</button> </br>
      </br>
      <input type="text" ng-model="referralList.editName"  size="30" placeholder="edit name">
      <input type="text" ng-model="referralList.editCount" size="30" placeholder="edit count"> </br>  
      
    </div>

  </body>
</html>

