body {
  padding-top: 50px;
}
.referral-header {
  padding: 0px 15px;
  text-align: center;
}
.referral-body {
  padding: 25px 15px;
  text-align: left;
}
.referral-editbutton {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}